<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <script src='main.js'></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="row tamanho">
    <div class="col s12 l2">
      <nav>
        <div class="nav-wrapper blue accent-2">
          <a href="#" class="brand-logo">Logo</a>
          <!-- menu Dispositivos Moveis -->
          <ul id="slide-out" class="sidenav">
            <li><a class="subheader">Menu</a></li>
            <li>
              <div class="divider"></div>
            </li>
            <li><a class="waves-effect" href="../view/home.html">Home</a></li>
            <li><a class="waves-effect" href="../view/doadores.html">Cadastrar doadores</a></li>
            <li><a class="waves-effect" href="#!">Lista</a></li>
          </ul>
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>
    <div class="col l10 hide-on-med-and-down">
      <nav>
        <div class="nav-wrapper white">
          <a href="#" class="brand-logo black-text">Admin</a>
        </div>
      </nav>
    </div>
  </div>

  <div class="row corpoSite">
    <!-- Menu lateral -->
    <div class="col s2 menuLateral hide-on-med-and-down blue accent-2">
      <ul id="nav-mobile" class="hide-on-med-and-down li ">
        <li><a class="waves-effect menu center-align black-text" href="../view/home.html">Home</a></li>
        <li><a class="waves-effect menu center-align black-text" href="../view/doadores.html">Cadastrar doadores</a>
        </li>
        <li><a class="waves-effect menu center-align black-text" href="#!">Lista</a></li>
      </ul>
    </div>

    <!-- Conteudo -->
    <div class="col s12 l10 conteudo">

      <!-- Todo o conteudo que ira conter na pagina home -->
      <div class="row">
        <div class="col s12 l2">

        </div>
        <div class="col l8">
          <form action="../functions/doadores.php" method="POST">
            <div class="row row1">
              <div class="input-field col s6 col1">
                <input id="nomeDoador" name="nomeDoador" type="text" class="validate">
                <label for="nomeDoador">Nome Completo</label>
              </div>
              <div class="input-field col s6 col1">
                <input id="cep" name="cep" type="text" class="validate" onblur="buscarCEP(this)" required>
                <label for="cep">CEP</label>
              </div>
            </div>
            <div class="row row1">
              <div class="input-field col s6 col1">
                <input id="uf" name="uf" type="text" class="validate" disabled>
                <label for="uf">UF</label>
              </div>
              <div class="input-field col s6 col1">
                <input id="cidade" name="cidade" type="text" class="validate" disabled>
                <label for="cidade">Cidade</label>
              </div>
            </div>
            <div class="row row1">
              <div class="input-field col s6 col1">
                <input id="bairro" name="bairro" type="text" class="validate" disabled>
                <label for="bairro">Bairro</label>
              </div>
              <div class="input-field col s6 col1">
                <input id="logradouro" name="logradouro" type="text" class="validate" disabled>
                <label for="logradouro">Logradouro</label>
              </div>
            </div>
            <div class="row row1">
                <div class="input-field col s4 col1">
                  <input id="bairro" name="bairro" type="text" class="validate" disabled>
                  <label for="bairro">Bairro</label>
                </div>
                <div class="input-field col s4 col1">
                  <input id="logradouro" name="logradouro" type="text" class="validate" disabled>
                  <label for="logradouro">Logradouro</label>
                </div>
                <div class="input-field col s4 col1">
                    <input id="logradouro" name="logradouro" type="text" class="validate" disabled>
                    <label for="logradouro">Logradouro</label>
                  </div>
              </div>
          </form>
        </div>
        <div class="col s12 l2">

        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer white">
    <div class="footer-copyright">
      <div class="container black-text">
        © 2014 Copyright Text
        <a class="black-text right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <!-- Importando arquivos jquery e JavaScript do materialize -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- Configuração jquery e JavaScript -->
  <script type="text/JavaScript">
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
        });
        $(document).ready(function(){
        $('.sidenav').sidenav();
        }); 
      </script>
</body>

</html>