<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastrar Doadores</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/novocss.css">
    <script src='main.js'></script>
</head>
<body>
    <header>
            <nav>
                <div class="nav-wrapper white ">
                    <div class="row">
                        <div class="col s12">
                            <a href="#" data-target="sidenav-1" class="left sidenav-trigger hide-on-medium-and-up"><i class="material-icons">menu</i></a>
                            <a href="#" data-target="sidenav-2" class="right sidenav-trigger show-on-medium-and-up"><i class="material-icons">menu</i></a>
                            <a href="#" class="brand-logo black-text">Admin</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

    <div class="row">
        <ul id="sidenav-1" class="sidenav sidenav-fixed blue accent-2">
            <li><a class="subheader" >Ubunto-PI</a></li>
            <li><a href="../view/home.html">Home</a></li>
            <li><a href="../view/doadores.html">Cadastrar doadores</a></li>
            <li><a href="#">Lista</a></li>
            <li><a href="#">Perfil</a></li>
        </ul>
    </div>
    

    <div class="section"></div>
  <main>
        <form class="col s12" action="../functions/doadores.php" method="POST">
            <div class="row">
                    <div class="input-field col s6">
                      <input id="nomeDoador" type="text" class="validate" placeholder="Nome Completo">
                    </div>
            </div>
            <div class="row">
                    <div class="input-field col s6">
                      <input id="cep" type="text" class="validate" placeholder="CEP">
                    </div>
            </div>   
            <div class="row">
                    <div class="input-field col s6">
                      <input id="uf" type="text" class="validate" placeholder="UF">
                    </div>
            </div>  
            <div class="row">
                    <div class="input-field col s6">
                      <input id="cidade" type="text" class="validate" placeholder="Cidade">
                    </div>
            </div>  
            <div class="row">
                    <div class="input-field col s6">
                      <input id="bairro" type="text" class="validate" placeholder="Bairro">
                    </div>
            </div>  
            <div class="row">
                    <div class="input-field col s6">
                      <input id="logradouro" type="text" class="validate" placeholder="Logradouro">
                    </div>
            </div>  
            <div class="row">
                    <div class="input-field col s6">
                      <input id="numero" type="number" class="validate" placeholder="Numero">
                    </div>
            </div> 
            <div class="row">
                    <div class="input-field col s6">
                      <input id="telefone" type="tel" class="validate" placeholder="Telefone">
                    </div>
            </div> 
            <div class="row">
                    <div class="input-field col s6">
                      <input id="celular" type="tel" class="validate" placeholder="Celular">
                    </div>
            </div> 
            <div class="row">
                    <div class="input-field col s6">
                      <input id="complemento" type="text" class="validate" placeholder="complemento">
                    </div>
            </div> 

            <div class='row'>
                    <button type='submit' name='btnDoadores' class='col s12 btn btn-large waves-effect blue accent-2'>Cadastrar</button>
            </div>
        </form>
</body>
</html>
