<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Cadastrar Doadores</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <script src="../vendor/jquery/3.4.0/jquery-3.4.0.min.js"></script>
  <script src="../assets/js/script.js"></script>
  <script src='main.js'></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="row tamanho">
    <div class="col s12 l2">
      <nav>
        <div class="nav-wrapper blue accent-2">
          <a href="#"><img src="../img/elusen.png" style="height: 100px; margin-top: -20px"></a>
          <!-- menu Dispositivos Moveis -->
          <ul id="slide-out" class="sidenav">
            <li><a class="subheader">Menu</a></li>
            <li>
              <div class="divider"></div>
            </li>
            <li><a class="waves-effect" href="../view/home.php">Home</a></li>
            <li><a class="waves-effect" href="../view/doadores_novo.html">Cadastrar doadores</a></li>
            <li><a class="waves-effect" href="../view/lista.php">Lista</a></li>
          </ul>
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>
    <div class="col l10 hide-on-med-and-down">
      <nav>
        <div class="nav-wrapper white">
          <a href="#" class="brand-logo black-text">Admin</a>
        </div>
      </nav>
    </div>
  </div>

  <div class="row corpoSite">
    <!-- Menu lateral -->
    <div class="col s2 menuLateral hide-on-med-and-down blue accent-2">
      <ul id="nav-mobile" class="hide-on-med-and-down li ">
        <li><a class="waves-effect menu center-align black-text" href="../view/home.php">Home</a></li>
        <li><a class="waves-effect menu center-align black-text" href="../view/doadores_novo.html">Cadastrar doadores</a></li>
        <li><a class="waves-effect menu center-align black-text" href="../view/lista.php">Lista</a></li>
      </ul>
    </div>

    <!-- Conteudo -->
    <div class="col s12 l10 conteudo ">

      <!-- Todo o conteudo que ira conter na pagina home -->
      <div class="row container">
       
        <div class="container">
          <form action="../functions/doadores.php" method="POST">
            <div class="row row1">
              <div class="input-field col s12 m6 l6 col1">
                <input id="nomeDoador" name="nomeDoador" type="text" class="validate" placeholder="Nome Completo" required>
              </div>
              <div class="input-field col s12 m6 l6 col1">
                <input id="cep" name="cep" type="text" class="validate" placeholder="CEP" onblur="buscarCEP(this)" required>
              </div>
            </div>
            <div class="row row1">
              <div class="input-field col s12 m6 l6 col1">
                <input id="uf" name="uf" type="text" class="validate" placeholder="UF" >
              </div>
              <div class="input-field col s12 m6 l6 col1">
                <input id="cidade" name="cidade" type="text" class="validate" placeholder="Cidade" >
              </div>
            </div>
            <div class="row row1">
              <div class="input-field col s12 m6 l6 col1">
                <input id="bairro" name="bairro" type="text" class="validate" placeholder="Bairro" >
              </div>
              <div class="input-field col s12 m6 l6 col1">
                <input id="logradouro" name="logradouro" type="text" class="validate" placeholder="Logradouro" >
              </div>
            </div>
            <div class="row row1">
                <div class="input-field col s12 m12 l4 col1">
                  <input id="numero" name="numero" type="text"  class="validate" placeholder="Numero" required>
                </div>
                <div class="input-field col s12 m12 l4 col1">
                  <input id="telefone" name="telefone" type="text" class="validate" placeholder="Telefone" required>
                </div>
                <div class="input-field col s12 m12 l4 col1">
                  <input id="celular" name="celular" type="text" class="validate" placeholder="Celular" required>
                </div>
              </div>
              <div class="row row1">
                <div class="input-field col s12 m12 s12 col1">
                  <input id="complemento" name="complemento" type="text" class="validate" placeholder="Complemento">
                </div>
              </div>
              <div class='row row1'>
                <button type='submit' name='btnDoadores' class='col s12 btn btn-large waves-effect blue accent-2'>Cadastrar</button>
              </div>
          </form>
        </div>
  
      </div>

    </div>
  </div>

  <footer class="page-footer white">
    <div class="footer-copyright">
      <div class="container black-text">
        © 2019 Copyright Text
        <a class="black-text right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <!-- Importando arquivos jquery e JavaScript do materialize -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- Configuração jquery e JavaScript -->
  <script type="text/JavaScript">
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
        });
        $(document).ready(function(){
        $('.sidenav').sidenav();
        }); 
      </script>
</body>

</html>