<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lista</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/novocss.css">
    <script src='main.js'></script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper white ">
                <div class="row">
                    <div class="col s12">
                        <a href="#" data-target="sidenav-1" class="left sidenav-trigger hide-on-medium-and-up"><i class="material-icons">menu</i></a>
                        <a href="#" data-target="sidenav-2" class="right sidenav-trigger show-on-medium-and-up"><i class="material-icons">menu</i></a>
                        <a href="#" class="brand-logo black-text">Admin</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="row">
        <ul id="sidenav-1" class="sidenav sidenav-fixed blue accent-2">
            <li><a class="subheader" >Ubunto-PI</a></li>
            <li><a href="../view/home.html">Home</a></li>
            <li><a href="../view/doadores.html">Cadastrar doadores</a></li>
            <li><a href="../view/lista.html">Lista</a></li>
            <li><a href="#">Perfil</a></li>
        </ul>
    </div>
    <div>
        <ul class="collection">
            <li class="collection-item">sdjkdslfhdsaklfhjdsalkfhdklasjfhasdlkfjhdaslkfhdsajfhsdlafjhsldfkjhasdlkfhasklfdjh</li>
            <li class="collection-item">Alvin</li>
            <li class="collection-item">Alvin</li>
            <li class="collection-item">Alvin</li>
          </ul>
    </div>
</body>
</html>